<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

  <context:component-scan base-package="com.module1"/>
  <context:annotation-config/>
  <mvc:annotation-driven/>

  <bean id = "dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="username" value="sa"/>
    <property name="password" value="sa"/>
    <property name="url" value="jdbc:h2:file:C:/Users/sereg/Desktop/Hillel/java-ee/home/homework4db"/>
    <property name="driverClassName" value="org.h2.Driver"/>
  </bean>
  <bean id = "provider" class="org.hibernate.jpa.HibernatePersistenceProvider"/>
  <bean id = "transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    <property name="dataSource" ref="dataSource"/>
  </bean>
  <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
    <property name="dataSource" ref="dataSource"/>
    <property name="persistenceUnitName" value="PU1"/>
    <property name="persistenceProvider" ref="provider"/>
    <property name="packagesToScan" value="com.module1"/>
    <property name="jpaProperties">
      <props>
        <prop key="hibernate.show_sql">true</prop>
        <prop key="hibernate.format_sql">true</prop>
        <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
      </props>
    </property>
  </bean>
</beans>