<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="username" value="sa"/>
        <property name="password" value="sa"/>
        <property name="url"
                  value="jdbc:h2:file:C:/Users/sereg/Desktop/Hillel/java-ee/homework/lesson8-liquibase/dbtest"/>
        <property name="driverClassName" value="org.h2.Driver"/>
    </bean>
    <!--<bean id="flyway" class="org.flywaydb.core.Flyway" init-method="migrate">-->
    <!--<property name="dataSource" ref="dataSource"/>-->
    <!--</bean>-->
    <bean id="liquibase" class="liquibase.integration.spring.SpringLiquibase">
        <property name="dataSource" ref="dataSource"/>
        <property name="changeLog" value="db/changeLog.xml"/>
    </bean>
    <!--<bean id="provider" class="org.hibernate.jpa.HibernatePersistenceProvider"/>
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>-->
    <!--<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="persistenceUnitName" value="PU1"/>
        <property name="persistenceProvider" ref="provider"/>
        <property name="packagesToScan" value="jpa_hibernate_test"/>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
            </props>
        </property>
    </bean>-->
</beans>